<div class="anatomy">
  <h1 class="title">{{ model.title }}</h1>
  <p class="description">{{ model.description }}</p>
  <div class="image-wrapper">
    <img [src]="model.image" alt="">
  </div>
</div>

<div class="why-choose">
  <h1 class="title">Why choose HashHouse?</h1>
  <div class="card-wrapper">
    <hashhouse-description-card *ngFor="let item of whyChoose;  let i = index" [model]="{
          numeration: i+1,
          title: item.title,
          description: item.description,
          image: item.image
  }" />
  </div>
</div>
