@import "variables";

@mixin card_style {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

@mixin gradient_border {
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #4CFADC, #258CE5);
    background-origin: border-box;
}