<div class="home-container with-header-offset">

    <!-- Reinvent Mining -->
    <section class="reinvent-mining">
        <div class="image-wrapper">
            <img [src]="top.image?.url" [alt]="top.image?.alt">
        </div>
        <div class="content">
            <h1 class="title">{{ top.name }}</h1>
            <p>{{ top.text }}</p>
            <button class="custom-button gradient large" (click)="navigateToContactForm()">Contact Us</button>
        </div>
        <div class="gradient-line"></div>
    </section>

    <!-- Products -->
    <section class="products" id="products">
        <h4 class="title">Products</h4>
        <div class="product-cards">

          <figure class="product" *ngFor="let product of products" (click)="goToLink(product.slug || '')">
            <div class="image-wrapper">
              <img [src]="product.image?.src" alt="">
            </div>
            <figcaption>
              <h4 class="name">{{product.name}}</h4>
              <p class="description">{{product.short_description}}</p>
            </figcaption>
            <a class="see-all" [routerLink]="'/' + product.slug">See all</a>
          </figure>
        </div>
        <!-- <button class="custom-button large" (click)="notImplemented()">View All</button> -->
    </section>

    <!-- Our partners around the world -->
    <section class="partners">
        <div class="background-line top"></div>
        <h1 class="title">{{ map.name }}</h1>
        <div class="partner-list">
            <img *ngFor="let image of map.items" [src]="image.url" [alt]="image.alt">
        </div>
        <img class="map" [src]="map.background?.url" [alt]="map.background?.alt">
        <div class="background-line bottom"></div>
    </section>

    <!-- Why choose HashHouse? -->
    <section class="about" id="contact-form" #contactFormSection>
        <h1 class="title">Why choose HashHouse?</h1>
        <div class="about-wrapper">
            <div class="why-choose">

                <hashhouse-description-card *ngFor="let item of whyChoose.items; let i = index" [model]="{
                        numeration: i+1,
                        title: item.title,
                        description: item.description,
                        image: item.image.url
                }"/>

            </div>
            <form class="custom-form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
                <h4 class="title">Contact Us</h4>
                <div class="input-wrapper">
                    <div class="input-row">
                        <label class="title">Name<input class="custom-input" type="text" formControlName="name"
                                placeholder="Your Name"></label>
                    </div>
                    <div class="input-row">
                        <label class="title">Company<input class="custom-input" type="text" formControlName="company"
                                placeholder="Your Company Name"></label>
                    </div>
                    <div class="input-row">
                        <label class="title">Phone<input class="custom-input" type="tel" formControlName="phone"
                                placeholder="Your Phone Number"></label>
                    </div>
                    <div class="input-row">
                        <label class="title">Email<input class="custom-input" type="text" formControlName="email"
                                placeholder="Your Email Address"></label>
                    </div>
                    <div class="input-row one-line" formGroupName="products">
                        <p class="title">Product:</p>
                        <div class="input-row">
                            <label class="one-line">
                                <input type="checkbox" formControlName="pdu">
                                <p>PDU</p>
                            </label>
                        </div>
                        <div class="input-row">
                            <label class="one-line">
                                <input type="checkbox" formControlName="psu">
                                <p>PSU</p>
                            </label>
                        </div>
                        <div class="input-row">
                            <label class="one-line">
                                <input type="checkbox" formControlName="cables">
                                <p>Cables</p>
                            </label>
                        </div>
                    </div>
                    <div class="input-row">
                        <label class="title">Notes<textarea class="custom-input" formControlName="notes" rows="3"
                                placeholder="Text Your Notes"></textarea></label>
                    </div>
                </div>
                <button class="custom-button gradient large contact-us" type="submit"
                    [class.disabled]="isDisabledSubmit" [disabled]="isDisabledSubmit">Contact Us<img
                        src="../../../assets/img/home/arrow-right.png" alt=""></button>
            </form>
        </div>
    </section>
</div>
