<div class="cables-container with-header-offset">

    <hashhouse-panel-slider class="container small" [product]="productModel" [items]="sliderModel"></hashhouse-panel-slider>

    <hashhouse-panel-table class="container small"
        (onBroshureClick)="downloadFile($event)"
        (onContactUsClick)="downloadComponent.navigateToForm()"
        [table]="tableModel">
    </hashhouse-panel-table>

    <hashhouse-panel-details class="container full" [whyChoose]="whyChoose" [model]="detailsModel"></hashhouse-panel-details>

    <hashhouse-panel-download #downloadComponent [slug]="'cables'" class="container full"></hashhouse-panel-download>

</div>
