<div class="introducing-container with-header-offset">
  <!-- Block 1 -->
  <section class="container full introducing-section" *ngIf="block_1">
    <div class="row"  *ngIf="block_1">
      <div class="col">
        <img [src]="block_1['context_image']">
      </div>
      <div class="col">
        <div class="title">{{ block_1['title'] }}</div>
        <p class="description" [innerHTML]="block_1['description']"></p>
      </div>
    </div>
  </section>
    <section class="container table bg-white small">
      <div class="row">
        <div class="col">
          <div class="table" *ngIf="specification_sheet">
            <div class="row center">
              <h3>{{ specification_sheet['title'] }}</h3>
            </div>
            <div class="row center">
              <table [innerHTML]="specification_sheet['description']"></table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container section-image-list  bg-dark small" *ngIf="block_2">
      <div class="table" [innerHTML]="block_2['description']"></div>
    </section>

    <!-- Block 3 -->
    <section class="container bg-white small" *ngIf="block_3">
      <img src="{{ block_3['image_main'] }}">
      <div class="info" [innerHTML]="block_3['description']"></div>
    </section>

</div>

<!--

<div class="about-container with-header-offset">

  <section class="container full preview-section">
    <div class="image-wrapper">
      <img src="{{ top.image?.url }}" alt="{{ top.image?.alt }}">
    </div>
    <div class="info" [innerHTML]="top.description"></div>
  </section>

  <section class="container small about-section" [innerHTML]="description"></section>

  <section class="container full overview-section">
    <h1 [innerHTML]="banner_2.text"></h1>
    <div class="image-wrapper">
      <img src="{{ banner_2.image?.url }}" alt="{{ banner_2.image?.alt }}">
    </div>
  </section>

  <section class="team-section">
    <h1>{{ team.blockName }}</h1>
    <div class="team-cards">
      <figure class="card" *ngFor="let item of team.items">
        <ng-template [ngIf]="item.show">
          <div class="background">
            <img [src]="item.image?.url" [alt]="item.image?.alt">
          </div>
          <figcaption [innerHTML]="item.description"></figcaption>
        </ng-template>
      </figure>

    </div>
  </section>

</div>

-->
