<div class="introducing-container with-header-offset">
  <section class="container full introducing-section">
    <div class="block">IMG</div>
    <div class="block">
        <div class="title">Introducing:</div>
        <div class="text-logo">
          <span class="text-logo">Trident I</span>
          <img src="" alt="Hash House">
        </div>
      <p class="description">Immersion Cooling Mobile Data Center</p>
    </div>
<!--    <div class="image-wrapper">-->
<!--      <img src="{{ top.image?.url }}" alt="{{ top.image?.alt }}">-->
<!--    </div>-->
<!--    <div class="info" [innerHTML]="top.description"></div>-->
  </section>
    <section class="container bg-wight small">
      <div class="row">
        <div class="col">
          COl-1
        </div>
        <div class="col">
          COl-2
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="table">
            <div class="row center">
              <h3>Specification Sheet</h3>
            </div>
            <div class="row center">
              <table cols="4">
                <thead>
                  <tr>
                    <th colspan="2">Specification</th>
                    <th>Trident i - 96</th>
                    <th>Trident i - 128</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="7">General</td>
                    <td>Dimension</td>
                    <td colspan="2">40HQ 40’ x 8’ x 8’6” (L x W x H)</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>96 x MicroBT M56 series</td>
                    <td>128 x MicroBT M56 series</td>
                  </tr>
                  <tr>
                    <td>Coolant volume</td>
                    <td>497 gal (1881 L)</td>
                    <td>607 gal (2299 L)</td>
                  </tr>
                  <tr>
                    <td>Appx. Shipping weight</td>
                    <td>34326 lbs. (19570 kg)</td>
                    <td>35208 lbs. (15970 kg)</td>
                  </tr>
                  <tr>
                    <td>Approx operating weigh <span>*liquid and miners included</span></td>
                    <td>43144 lbs. (19570 kg)</td>
                    <td>54609 lbs. (24770 kg)</td>
                  </tr>
                  <tr>
                    <td>Capacity per tank</td>
                    <td>16 x MicroBT M56 series</td>
                    <td>16 x MicroBT series</td>
                  </tr>
                  <tr>
                    <td>Cooling fluid</td>
                    <td colspan="2">SynosTM Max21 Immersion Coolant, Shell S3X, Shell S5X</td>
                  </tr>
                  <tr>
                    <td rowspan="7">Cooling Tower</td>
                    <td>Cooling type</td>
                    <td><strong>Dry cooler</strong></td>
                    <td><strong>Evaporative condenser</strong></td>
                  </tr>
                  <tr>
                    <td>Inlet temperature</td>
                    <td>49°C (Db30°C)</td>
                    <td>50°C (Wb28°C)</td>
                  </tr>
                  <tr>
                    <td>Outlet temperature</td>
                    <td>42°C (Db30°C)</td>
                    <td>40°C (Wb28°C)</td>
                  </tr>
                  <tr>
                    <td>Max. Water consumption</td>
                    <td>0 gal/min<span>*Unless Adiabatic added</span></td>
                    <td>8 gal/min (1.8m3/h)</td>
                  </tr>
                  <tr>
                    <td>Max. Heat dissipation</td>
                    <td>850 KW</td>
                    <td>1100 KW</td>
                  </tr>
                  <tr>
                    <td>Input voltage / frequency</td>
                    <td colspan="2">3*380V/3*415V/3*480V 50~60Hz</td>
                  </tr>
                  <tr>
                    <td>Output voltage / frequency</td>
                    <td colspan="2">3*380V/3*415V/3*480V 50~60Hz</td>
                  </tr>
                <tr>
                  <td rowspan="5">Power</td>
                  <td>Max. Power supply</td>
                  <td>860 KW</td>
                  <td>1150 KW</td>
                </tr>
                  <tr>
                    <td>Max. Server load</td>
                    <td>816 KW</td>
                    <td>1088 KW</td>
                  </tr>
                  <tr>
                    <td>Power distribution cabinets current</td>
                    <td>1 x 1600 A</td>
                    <td>1 x 2000 A</td>
                  </tr>
                  <tr>
                    <td>Smart PDU quantity</td>
                    <td>6</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>Circuit breaker certification</td>
                    <td colspan="2">CE/UL</td>
                  </tr>
                </tbody>
              </table>
            </div>





          </div>
        </div>



      </div>

    </section>


</div>

<!--

<div class="about-container with-header-offset">

  <section class="container full preview-section">
    <div class="image-wrapper">
      <img src="{{ top.image?.url }}" alt="{{ top.image?.alt }}">
    </div>
    <div class="info" [innerHTML]="top.description"></div>
  </section>

  <section class="container small about-section" [innerHTML]="description"></section>

  <section class="container full overview-section">
    <h1 [innerHTML]="banner_2.text"></h1>
    <div class="image-wrapper">
      <img src="{{ banner_2.image?.url }}" alt="{{ banner_2.image?.alt }}">
    </div>
  </section>

  <section class="team-section">
    <h1>{{ team.blockName }}</h1>
    <div class="team-cards">
      <figure class="card" *ngFor="let item of team.items">
        <ng-template [ngIf]="item.show">
          <div class="background">
            <img [src]="item.image?.url" [alt]="item.image?.alt">
          </div>
          <figcaption [innerHTML]="item.description"></figcaption>
        </ng-template>
      </figure>

    </div>
  </section>

</div>

-->
