@import 'variables';

hashhouse-introducing {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.introducing-container{
  width: 100%;
  color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  :host {
    display: flex;
    justify-content: center;
    width: 100%;
  }


  section {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    h1 {
      font-size: 32px;
    }
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    .col{
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      min-width: 150px;
      flex: 1;
    }
  }


  .introducing-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    background: #F6F7FA;
    padding: 60px 20px;
    box-sizing: border-box;
    min-height: 236px;
  }
  img[alt]{
    font-size: 1.2rem;
    font-weight: normal;
  }
  .center{
    align-items: center;
    justify-content: center;
  }
  .table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    h3{
      font-size: 28px;
      margin: 25px 0;
    }
  }
  section.table{
    text-align: start;
    max-width: 1200px;
    font-size: 14px;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    outline: 1px solid #e7edf0;
    box-sizing: border-box;
    margin-bottom: 30px;
    span, p{
      font-size: 8px;
      display: block;
    }
    thead{ background: #F4F7F8 }
    th{
      padding: 10px 15px;
      text-align: start;
      border-bottom: 1px solid #e7edf0;
    }
    td {
      outline: 1px solid #e7edf0;
      padding: 15px;
      box-sizing: border-box;
    }
  }

  section.section-image-list{
    box-sizing: border-box;
    padding: 25px 7% 30px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: start;

    h1, h2, h3, h4, h5, h6{
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .aligncenter{
      display: block;
      margin: auto;
      max-height: 300px;
    }
    .table{
      margin: 0 -15px;
    }
    table{
      td{
        width: 50%;
        padding: 15px;
      }
    }
    ul li>ul{
      margin-top: 15px;
      margin-left: 15px;
      li{
        &::marker{
          content: '• ';
          font-size: 1.5em;
        }
      }
    }
  }

  .bg-white{ background: #fff; }
  .bg-dark{ background: #28313D; }
}






.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  :host {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section {
    h1 {
      font-size: 32px;
    }
  }

  // Hash House Tech
  .preview-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
    background: radial-gradient(#E0EEFB, #E0EEFB, transparent);
    padding: 60px 20px;
    padding-right: 200px;
    box-sizing: border-box;
    min-height: 579px;

    .image-wrapper {
      max-width: 700px;

      img {
        max-width: 100%;
      }
    }


    .info {
      display: flex;
      flex-direction: column;
      min-width: 400px;

      h1 {
        line-height: 80px;
        font-size: 62px;
      }

      ul {
        margin-top: 20px;
        width: 100%;

        li {
          padding: 10px 40px;
          font-weight: bold;
          position: relative;
          font-size: 22px;

          &:before {
            content: '';
            position: absolute;
            left: 10px;
            top: calc(50% - 2px);
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: var(--blue);
          }
        }
      }
    }

    @media (max-width: 1430px) {
      padding: 60px 20px;
    }

    @media (max-width: 900px) {
      flex-direction: column-reverse;

      .info {
        min-width: 200px;

        h1 {
          text-align: center;
        }

        ul {
          margin-top: 40px;
        }
      }
    }
  }

  // About Us
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    box-sizing: border-box;

    p {
      max-width: 800px;
      text-align: center;
      font-size: 22px;
      margin-top: 10px;
    }
  }

  // Hash House overview
  .overview-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    box-sizing: border-box;
    background-color: #F6F7FA;

    h1 {
      text-align: center;
    }

    .image-wrapper {
      max-width: 1230px;
      margin-top: 60px;

      img {
        width: 100%;
      }
    }
  }

  // Meet the team
  .team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    box-sizing: border-box;
    max-width: 1300px;

    .team-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      column-gap: 24px;
      row-gap: 70px;
      margin-top: 50px;

      .card {
        display: flex;
        flex-direction: column;
        max-width: 282px;

        .background {
          display: flex;
          justify-content: center;
          border-radius: 10px;
          position: relative;
          overflow: hidden;
          height: 282px;
          max-width: 282px;
          width: 100%;

          &:before {
            content: '';
            position: absolute;
            background-color: #F5F7FA;
            left: 0;
            bottom: 0;
            width: calc(100% - 2px);
            height: 92%;
            border-radius: 10px;
            border: 1px solid #E1E8ED;
          }

          img {
            z-index: 1;
          }
        }

        figcaption {
          display: flex;
          flex-direction: column;

          h4 {
            font-weight: 600;
            font-size: 26px;
            margin-top: 20px;
          }

          span {
            color: #92979A;
            font-weight: 400;
            font-size: 18px;
          }

          p {
            margin-top: 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
