<div class="container small footer">
    <div class="left-side">
        <img class="logo" [src]="pathUri+'assets/img/logo-w.svg'" alt="">
        <div class="social">
            <a href="" title="web">
                <img [src]="pathUri+'assets/img/social/web.png'" alt="">
            </a>
            <a href="" title="linkedin">
                <img [src]="pathUri+'assets/img/social/linkedin.png'" alt="">
            </a>
            <a href="" title="facebook">
                <img [src]="pathUri+'assets/img/social/facebook.png'" alt="">
            </a>
            <a href="" title="twitter">
                <img [src]="pathUri+'assets/img/social/twitter.png'" alt="">
            </a>
            <a href="" title="instagram">
                <img [src]="pathUri+'assets/img/social/instagram.png'" alt="">
            </a>
        </div>
        <div class="additional">
            <a href="">Privacy Policy</a>
            <a href="">Cookie Policy</a>
        </div>
    </div>
    <div class="right-side">
        <div class="info-list products">
            <h4>Products:</h4>
            <a href="">Mining PDU</a>
            <a href="">Mining PSU</a>
            <a href="">Mining Power Cord</a>
        </div>
        <div class="info-list services">
            <h4>Services:</h4>
            <a href="">Farm design</a>
        </div>
    </div>
</div>
<div class="arrow-container">
    <div class="arrow-up" (click)="goToTop()">
        <img [src]="pathUri+'/assets/img/icons/arrow-up.png'" alt="">
    </div>
</div>
