:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 20px 100px 20px;
    box-sizing: border-box;

    >h1 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .sort-label {
        display: flex;
        gap: 10px;
        color: #8F93A4;
        font-size: 20px;
        width: fit-content;
        border-radius: 10px;
        padding: 10px 20px;
        transition: 0.1s;
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        cursor: pointer;

        &:hover {
            background-color: #F4F7F8;
        }
    }

    .table-wrapper {
        background-color: #F4F7F8;
        border-radius: 10px;
        padding: 2px;
        overflow: auto;

        .table {
            display: flex;
            flex-direction: column;
            min-width: 1100px;

            .table-header {
                display: flex;
                background-color: #F4F7F8;
                padding: 15px 0;
                border-radius: 10px 10px 0 0;
                gap: 5px;

                >* {
                    width: 100%;
                    text-align: center;

                    &:nth-child(6) {
                        min-width: 285px;
                    }
                }

                h1 {
                    font-size: 16px;
                }
            }

            .table-body {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .table-row {
                    display: flex;
                    gap: 2px;
                    width: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    box-sizing: border-box;

                    >* {
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                        width: 100%;
                        background-color: white;
                    }

                    .button-wrapper {
                        display: flex;

                        .buttons-border {
                            display: flex;
                            gap: 2px;
                            padding: 2px;
                            background: linear-gradient(to right bottom, var(--lightblue), var(--blue));
                            border-radius: 3px;
                            overflow: hidden;

                            .custom-button {
                                flex-grow: 1;
                                width: 120px;
                                min-width: auto;
                                padding: 10px 15px;
                                border-radius: 0;
                                gap: 10px;

                                &:first-child {
                                    justify-content: flex-start;
                                }

                                img {
                                    max-height: 16px;
                                    max-width: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .custom-gradient-button-text {
        align-self: center;
        margin-top: 20px;

        &:hover {
            font-weight: bold;
        }
    }

    @media (max-width: 1250px) {}
}