@import "variables";

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, var(--lightblue), var(--blue));
    width: 100%;
    gap: 125px;
    padding: 70px 20px;
    box-sizing: border-box;

    .left-side {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .download-card {
            display: flex;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 20px;
            padding: 30px;
            color: white;
            gap: 20px;
            transition: 0.1s;
            padding-right: 60px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.35);
            }

            .image-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 90px;
                height: 90px;
                background-color: #E1F8FA;
                border-radius: 20px;
            }

            .card-info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 22px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;
        max-width: 500px;

        h1 {
            text-align: center;
            font-size: 34px;
        }

        .custom-button {
            display: flex;
            align-self: flex-end;
            gap: 20px;
            font-weight: 400;
            font-size: 18px;
            margin-top: 40px;
            transition: 0.2s;

            &.disabled {
                opacity: 0.6;
            }
        }
    }

    @media (max-width: 1250px) {
        flex-direction: column;
        gap: 100px;
    }

    @media (max-width: 415px) {
        .left-side {
            .download-card {
                flex-direction: column;
                align-items: center;
                padding-right: 30px;

                .image-wrapper {
                    width: 90px;
                }

                .card-info {
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}