<div class="left-side" #downloadFormSection>
    <div class="download-card">
        <div class="image-wrapper">
            <img [src]="pathUri+'assets/img/icons/documents.png'" alt="">
        </div>
        <div class="card-info">
            <h1>32 Documents</h1>
            <p>with detailed info</p>
        </div>
    </div>
    <div class="download-card">
        <div class="image-wrapper">
            <img [src]="pathUri+'assets/img/icons/download-count.png'" alt="">
        </div>
        <div class="card-info">
            <h1>2052 downloads</h1>
            <p>was carried out</p>
        </div>
    </div>
</div>
<div class="right-side">
    <h1>Download full product line</h1>
    <form class="custom-form input-wrapper download-form" [formGroup]="downloadForm" (ngSubmit)="submitForm()">
        <div class="input-wrapper">
            <div class="input-row">
                <label class="title">Name *<input class="custom-input" type="text" formControlName="name"
                        placeholder="Your Name"></label>
            </div>
            <div class="input-row">
                <label class="title">Email *<input class="custom-input" type="email" formControlName="email"
                        placeholder="Your Email Address" ngPattern="/^.+@.+\..+$/" required></label>
            </div>
        </div>
        <button class="custom-button green" type="submit" [class.disabled]="isDisabledSubmit"
            [disabled]="isDisabledSubmit">Download
            <img [src]="pathUri+'assets/img/icons/download-small.png'" alt="">
        </button>
    </form>
</div>
